.purpleText {
	color: #6020de;
	padding-top: 1.2em;
	padding-right: 1em;
	font-size: 14px;
}

.userProfile {
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%;
}

.btn-edit {
	display: flex !important;
	justify-content: flex-end !important;
}

.projectName {
	color: #6020de;
	padding-top: 1.2em;
	padding-right: 1em;
	font-weight: bolder;
	font-size: 20px;
}

.icon-color {
	color: #6020de;
	font-size: 1.2em;
	font-weight: bolder !important;
	cursor: pointer;
}

.textColor {
	color: #6020de;
}